div.outer {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    padding: 0;
}

#filterpanel {
    background-color: #FFFFFF;
    border-color: #0e0e0e;
    padding: 10px 10px 10px 20px;
    cursor: move;
}

#infopanel {
    background-color: #FFFFFF;
    border-color: #0e0e0e;
    padding: 10px 10px 10px 20px;
    cursor: move;
}

#outputpanel {
    background-color: #FFFFFF;
    border-color: #0e0e0e;
    padding: 10px 10px 10px 20px;
    cursor: move;
}

#infotext {
    font-size: 11pt;
}

hr {
    border-color: gray;
    background-color: 0.5em;
    margin-bottom: 0.5em;
}

.btn-myClass.btn {
    color: #2c3e50;
    background-color: #fff;
    border-color: #2c3e50;
    border: 1px solid;
}

.btn-myClass.active {
    color: #fff;
    background-color: #2c3e50;
    border-color: #2c3e50;
}



.btn-default {
    color: #ffffff;
    background-color: #228096;
    border-color: #000000;
}

/* Change navbar background */
.navbar-default {
    background-color: #228096 !important;
}

/* Change navbar brand text color */
.navbar-default .navbar-brand {
  color: #FFFFFF
}

/* Change navbar brand text color on hover*/
.navbar-default .navbar-brand:hover {
  color: #FFFFFF
}

/* Change text color shown on navbar tabs upon hover */
.navbar-default:hover .navbar-nav>li>a:hover {
  /*previously color: #D17C4D*/
  color: #FFFFFF;
  background-color: #00436C;
}

/* Change background color of selected tab */
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    background-color: #00436C  !important;
}
